{{>partial_header}}
package {{packageName}}

import (
    "time"
    "mime/multipart"
)

var _ = time.Now
var _ = multipart.ErrMessageTooLarge
{{#operations}}
type {{classname}} interface {
{{#operation}}
    {{operationIdCamelCase}}({{#allParams}}{{>queryParams}}{{>pathParams}}{{>headerParams}}{{>bodyParams}}{{>formParams}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) ({{#returnType}}{{^returnContainer}}*{{/returnContainer}}{{{ returnType }}}, {{/returnType}}ApiError)
{{/operation}}
}
{{/operations}}